*::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgb(110, 110, 110);
}

.heading {
  font-weight: 300 !important;
  color: #423f3f;
  margin: 24px 0 48px 0 !important;
  text-align: center;
}

.sentiment.none {
  color: grey;
}

.sentiment.positive {
  color: green;
}

.sentiment.neutral {
  color: orange;
}

.sentiment.negative {
  color: red;
}

.slider-container {
  margin-top: 48px;
}
